/*============= GERAL =============*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --primary-color: #00856F; /* Cor primária (Botões, palavras de destaque, etc) */
    --headline: #212529; /* Cor das Headlines (h1, h2, h3, etc) */
    --paragraph: #495057; /* Cor dos paragráfos */

    --brand-beige: #FFFAF1;
    --brand-light: #DCE9E2;

    --hover-dark: #00453A;
    font-size: 62.5%; /* 1rem = 10px */

    --nav-height: 7.2rem;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    text-align: center;
    background: #F7F9F9;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

html, body{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}

section{
    padding-block: 10rem;
}

/*============= HEADER =============*/

#home{ /* Tudo que está na caixa HEADER não irá estrapolar estes limites (exceto algumas coisinhas) */
    padding-top: calc(4.1rem + var(--nav-height));
}

#home h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    line-height: 150%;
    margin-bottom: 1.6rem;
}

#home h1{
    color: var(--headline);
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}


#home div.stats{
    width: 100%;
    padding-block: 4rem; /* o BLOCK adicionará um padding no eixo Y. Em cima e em baixo. */

    margin-inline: auto; /* Margin Inline: Serve para o eixo X, funcionando como LEFT e RIGHT */
    
    background-color: var(--brand-beige);

    display: flex; /* Por padrão o FLEX coloca um ao lado do outro */
    flex-direction: column; /* Mas, aqui setei a direção do FLEX para COLUNAS */
    justify-content: center;
    gap: 6rem;

    border-radius: 0.6rem;
    border: 0.1rem solid var(--brand-light);
}

#home div.stat h3{
    font-size: 4.8rem;
    line-height: 130%;
    color: var(--headline);

    margin-bottom: 0.4rem;
}

#home div.stat p{
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 150%;
    margin: 0;
}

#home img.mulher{
    width: 26.1rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home::before{ /* Before: Antes | Tudo que vir antes do conteúdo do HEADER */
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home a.button{
    margin-inline: auto;
    margin-bottom: 6.1rem;
    margin-top: 3.2rem;
}

/*============= MENU DE NAVEGAÇÃO =============*/

nav{
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav div.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div.wrapper .treebar{
    position: relative;
    right: 11rem;
}

nav.scroll{
    background-color: var(--primary-color);
}

nav.scroll svg path{
    fill: white;
}

nav.scroll div.wrapper a.treebar svg path{
    stroke: white;
}

/*============= MENU EXPANDIDO =============*/

body.menu-expanded{
    overflow: hidden;
}

.menu, 
.close-menu, 
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu, 
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateY(100%);
}

body.menu-expanded .wrapper{ /* Fiz isso para quando for Menu-Expanded, o padding alinhar tudo */
    padding-right: 3rem;
}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw; /* Widht: Largura */
    height: 100vh; /* Height: Altura */

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded nav{
    position: fixed;
    width: 100vw;
}

.abas-menu{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.abas-menu li a{ /* Precisei acesar um por um, pois o A tem mais importancia no CSS */
    color: var(--brand-beige);
    text-decoration: none;
}

.button-agende{
    padding: 1.6rem 3.2rem;
    gap: 1.6rem;
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 8rem;

    background: white;
    border-radius: 4rem;
    width: 27.4rem;
    height: 5.5rem;
    left: 5rem;
    top: 44.8rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--primary-color);
    text-decoration: none;
}

.social{
    display: flex; /* Fazem os itens ficarem um ao lado do outro */
    gap: 3.2rem; /* GAP é o ESPAÇAMENTO ENTRE OS ITENS */
    align-items: center;
    justify-content: center; /* COLOCA OS ITENS NO CENTRO DA PÁGINA */
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

div.wrapper a.logo{
    z-index: 100;
}

body.menu-expanded div.wrapper a.logo svg path{
    fill: white;
}

div.logo-menu{ /* Por padrão, esta classe estará invisível */
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded div.logo-menu{ /* Mas, ao adicionar a clase Menu-Expanded no Body, aparecerá */
    opacity: 1;
    visibility: visible;

    width: 37.5rem;
    height: 7.2rem;
    display: flex; /* Alinhei tudo */
    margin: auto; /* Coloquei TODAS as margens no AUTO, assim centralizando o CONTEUDO */
    justify-content: end; /* Coloquei todo o conteúdo para o FIM */
    align-items: center; /* Alinhei os itens para o centro da linha */
    padding-right: 2.4rem; /* Coloquei um PADDING DIREITO de 24px para ter um espaçamento do conteudo para o fim */
}

/*============= SERVIÇOS =============*/

#services{
 /* Height: Altura */
    justify-content: center;
}

#services h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--primary-color);

    margin-bottom: 1.6rem;
}

#services h2{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);

    width: 31.4rem;
    height: 11.7rem;
    left: 3rem;
    top: 35.5rem;

    margin-bottom: 6rem;
}

#services div.card{
    margin-bottom: 3.2rem;
    text-align: left;

    background-color: white;
    border: 0.1rem solid var(--brand-light);
    border-radius: 0.6rem;

    width: 32.7rem;
    height: 20.7rem;
    right: 2.4rem;
    top: 53.2rem;

    gap: 1.6px;
    padding: 2.4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#services div.card img{
    margin-bottom: 1.6rem;
}

#services div.card h3{
    margin-bottom: 1.6rem;
    color: var(--headline);
}

#services div.card p{
    color: #495057;
}

/*============= SOBRE =============*/

#info{
    text-align: left;
    background: var(--brand-beige);
}

#info h4{
    color: var(--primary-color);
    letter-spacing: 0.08em;
    margin-bottom: 1.6rem;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
}

#info h2{
    color: var(--headline);
    margin-bottom: 2.4rem;

    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
}

#info p{
    color: #495057;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    margin-bottom: 6rem;
}

#info img{
    width: 32.7rem;
    height: 28.2rem;
    left: 2.4rem;
    top: 58.7rem;
}

/*============= CONTATO =============*/

#contact{
    background-color: white;
}

#contact h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);

    width: 29.7rem;
    height: 7.8rem;
    left: 2.4rem;
    top: 10rem;

    text-align: left;

    margin-bottom: 3.2rem;
}

#contact p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    text-align: left;
    gap: 0.8rem;

    color: #495057;

    display: flex;
}

#contact p.location{
    margin-bottom: 1.6rem;
}

a.button{
    margin-top: 3.2rem;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;

    background-color: var(--primary-color);
    padding: 1.6rem 3.2rem;
    gap: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;

    border-radius: 4rem;

    width: 26.7rem;
    height: 5.6rem;
    left: 2.4rem;
    top: 30.6rem;

    transition: background 200ms;
}

a.button:hover{
    background-color: var(--hover-dark);
}

#contact img.boy{
    margin-top: 6rem;
    width: 32.4rem;
    height: 21.3rem;
    left: 2.7rem;
    top: 42.2rem;
}

/*============= FOOTER =============*/

#end{
    text-align: left;

    background-color: var(--primary-color);

    margin-inline: auto;
    padding-block: 6rem;
}

#end img.logo{
    margin-bottom: 2.4rem;
}

#end .social{
    justify-content: left;
}

#end p{
    color: var(--brand-beige);
}

#end p.copy{
    margin-bottom: 1.2rem;
}

#end p.all{
    margin-bottom: 3.2rem;
}

/*============= UP BUTTON =============*/

#up{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    visibility: hidden;

    opacity: 0;
    transform: translateY(100%);
}

#up.show{
    visibility: visible;
    transition: 200ms;

    opacity: 1;
    transform: translateY(0);
}

.divider1{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    padding-left: 200000px;
}

.divider2{
    position: fixed;
    visibility: hidden;
    opacity: 1;
    padding-left: 200000000000000px;
}

/*============= DESKTOP =============*/

@media (min-width: 1024px){

    /* -- GERAL -- */
    .wrapper{
        width: min(136.6rem, 100%);
        display: grid;
    }

    body{
        overflow: auto;
    }

    section{
        padding-block: 16rem;
    }
    /* -- NAVIGATION -- */

    /* RESET */
    nav#navigation .wrapper *{
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        font-weight: initial;
    }

    header#home .divider1{
        position: initial;
        visibility: initial;
        opacity: initial;
        padding-left: initial;
    }

    header#home .divider2{
        position: initial;
        visibility: initial;
        opacity: initial;
        padding-left: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social{
        display: none;
    }

    nav#navigation .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
    }

    nav#navigation .menu ul.abas-menu{
        display: flex;
    }

    nav#navigation .menu ul li a{
        transition: 200ms;
        color: var(--primary-color);
        opacity: 0.7;
    }

    nav#navigation.scroll .menu ul li a{
        color: #F7F9F9;
        opacity: 0.6;
    }

    nav#navigation .menu ul li a::after{
        content: '';
        height: 0.2rem;
        background-color: var(--primary-color);
        width: 0%;

        position: relative;
        bottom: -1.95rem;

        display: block;
        transform: padding-inline(0rem);
        left: -0.75rem;
    }

    nav#navigation .menu ul li a:hover::after{
        transition: 200ms;
        padding-inline: 0.8rem;
        width: 100%;
    }

    nav#navigation.scroll .menu ul li a::after{
        background-color: white;
    }

    nav#navigation .menu .button-agende{
        border: 0.15rem solid #00856F;
        border-radius: 4rem;


        color: var(--primary-color);
        font-weight: 700;
        box-sizing: border-box;
        font-size: 1.4rem;

        width: 19rem;
        height: 3.8rem;
        left: 105.3rem;
        top: 1.5rem;


    }

    nav#navigation.scroll .menu .button-agende{
        border: 0.15rem solid white;
        border-radius: 4rem;

        color: white;
        font-weight: 700;
        box-sizing: border-box;
    }

    nav#navigation .menu .abas-menu li a{
        transition: opacity 400ms;
    }

    nav#navigation .menu .abas-menu li a:hover{
        opacity: 1;
        font-weight: 700;
    }

    /* EFFECT */

    

    /* -- HOME -- */

    header#home::before{
        height: calc(97% - var(--nav-height));
    }

    header#home{
        padding-top: var(--nav-height);
    }

    header#home .wrapper{
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B' 
        'C C';
    }

    header#home .col-a{
        grid-area: A;
        align-self: center;
    }

    header#home .col-b{
        grid-area: B
    }

    header#home .col-c{
        grid-area: C;
        flex-direction: row;
    }

    header#home img.mulher{
        width: 42rem;
        height: 54.7rem;
    }

    header#home{
        text-align: left;
    }

    header#home h1{
        font-weight: 700;
        font-size: 5.2rem;
        line-height: 130%;
        color: var(--headline);

        width: 60.5rem;
        height: 13.6rem;
        left: 12.3rem;
        top: 18.9rem;
    }

    header#home p{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;

        width: 58.5rem;
        height: 5.4rem;
        left: 12.3rem;
        top: 34.9rem;
    }

    header#home a.button{
        margin-left: 0;
    }

    header#home .mulher{
        width: 42.0rem;
        height: 54.7rem;
        left: 77.9rem;
        top: 7.6rem;
    }

    header#home .stat p{ /* Fiz isso tudo pois em algum lugar do CSS eu coloquei alguma resolução em todos os P, então achei mais fácil arrumar o P diretamente aqui */
        width: 19rem;
    }

    header#home .stat{
        width: 16.7rem;
        height: 9rem;
        flex-direction: row;
    }

    header#home .stats{
        flex-direction: row; /* Faz fileiras caso tenha um Display: Flex */
        text-align: center; /* Alinha o texto para o centro */
        gap: 20rem; /* Faz um espaçamento entre os itens */
        padding: 6rem;
    }

    header#home .stats .divider1{
        position: fixed;
        margin-right: 30rem;
    }

    header#home .stats .divider2{
        position: fixed;
        margin-left: 40rem;
    }

    /* -- SERVIÇOS -- */

    #services header h2{
        margin-inline: auto;
        text-align: center;

        font-weight: 700;
        font-size: 4rem;
        line-height: 5.2rem;
        text-align: center;

        width: 49.7rem;
        height: 10.4rem;
        left: 43.5rem;
        top: 30.0rem;
    }

    #services .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        padding-inline: 12rem;
    }

    /* -- INFO -- */
    .col-a{
        grid-area: A;
    }
    .col-b{
        grid-area: B;
    }

    #info .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
        display: flex;
        flex-direction: row-reverse;
        gap: 6.7rem;
        margin: auto;
    }

    #info h2{
        font-weight: 700;
        font-size: 4rem;
        line-height: 5.2rem;

        width: 44.7rem;
        height: 10.4rem;
        left: 67.0rem;
        top: 23.4rem;
    }

    #info p{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;

        width: 57.3rem;
        height: 16.8rem;
        left: 67.0rem;
        top: 36.2rem;
    }

    #info img{
        width: 48rem;
        height: 41.4rem;
        left: 12.3rem;
        top: 16rem;

    }

    #info .col-a{
        align-self: center;
    }

    /* -- CONTATO -- */

    #contact{
        background-color: white;
    }

    #contact .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
        gap: 14.1rem;
    }

    #contact img.boy{
        width: 575px;
        height: 379px;
        left: 668px;
        top: 160px;
    }

    #contact .col-a{
        align-self: center;
    }

    /* -- FOOTER -- */

    #end .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    #end .col-b{
        align-self: center;
        justify-self: flex-end;
    }
}